body {
    background-color: #3B4564;
    font-family: 'League Spartan', sans-serif;
}
.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 1.3rem;
}

.Theme {
    display: flex;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
    &-toggleBtn {
        display: flex;
        gap: 1rem;
        align-items: center;
        // i want to make these radio buttons into a toggle swtich for theme change
        &-switch {
          position: relative;
          background-color: #182034;
          border-radius: 100vmax;
          padding: 4px;
          display: flex;
          justify-content: space-between;
          width: 60px;
          & input {
            display: none;
          }
          & label {
            cursor: pointer;
            padding: 8px 8px;
            border-radius: 50%;
            transition: all 0.5s ease-in;
          }
          & input:checked + label {
            background-color: #d03f2f;
          }
          & label::before{
            content: attr(data-value);
            position: absolute;
            top: -18px;
          }
        }
        
    }
}

.CalcForm {
    height: 6rem;
    background-color: #182034;
    border-radius: .6rem;
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
    text-align: end;
    margin-top: 1.3rem;
    &-value {
        padding: 2rem 1rem;
        font-size: 3rem;
    }

}

.Keypad {
    background-color: #232c43;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    border-radius: .6rem;
    margin-top: 1.3rem;
    & button {
        font-family: 'League Spartan', sans-serif;
        border: none;
        background-color: #eae3dc;
        border-bottom: 5px solid hsl(28, 16%, 65%);
        color: #444b5a;
        font-size: 2rem;
        border-radius: .3rem;
        padding: 1rem .5rem;
    }
}

#reset, #equal {
    grid-column: span 2;
}

#del, #reset {
    background-color: #637097;
    color: #eae3dc;
    border-bottom: 5px solid #404e72;
    font-size: 1.4rem;
}

#equal {
    background-color: #d03f2f;
    border-bottom: 5px solid #93261a;
    color: #eae3dc;
}
